@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #FDFCFB, #E2D1C3);
    color: white;
    height: 90vh;
    padding-bottom: 3rem;
}
.image {
    position: relative;
    margin-top: 1rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) brightness(90%);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.hi-text{
    color: #d65974;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    margin-top: 1rem;
    font-weight: 500;

}

.name-text{
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    margin: 0.5rem;
    color: rgba(0, 0, 0, 0.7);
}
.typing{
    margin-bottom: 2rem;
    color: white;
}
