*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #FDFCFB, #E2D1C3);
    color: white;
    height: 90vh;
}
.image {
    position: relative;
    margin-top: 1rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
}

.hi-text{
    color: #d65974;
    font-size: 1.5em;
    font-family: 'Righteous';
    margin-top: 1rem;
    font-weight: 700;

}

.name-text{
    font-size: 2em;
    font-family: 'Black Ops One';
    font-weight: 800;
    margin: 1rem;
    color: rgba(0, 0, 0, 0.7);
}
.typing{
    margin-bottom: 2rem;
    color: white;
}
