
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, #ffbd88, #f9ce91);
    color: white;
    padding: 10px;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    font-family: 'Righteous';
    margin-left: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.navbar-icon {
    margin-left: 10px;
}
.navbar-brand a{
    color: white;
    text-decoration: none;
}
.navbar-brand a:hover{
    color: #d65974;
}

.navbar-links {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: 600;
    margin-right: 15rem;
}

.navbar-links a:hover {
    color: #d65974;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0 8px;
    position: relative;
}

.navbar-links a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 10px;
    width: 0;
    height: 3px;
    background-color: #d65974;
    transition: 0.2s ease;
}

.navbar-links a:hover::after {
    width: calc(50% - 10px);
}

